/* Global */
body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #1d2029;
    /* border: 1px solid red; */
}
:root{
    --lime-Green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(195, 100%, 50%);
    --twitter: hsl(203, 89%, 53%);
    --instagram-1: hsl(37, 97%, 70%);
    --instagram-2: hsl(329, 70%, 58%);
    --youtube: hsl(348, 97%, 39%);
    --gray: #5f616d;

}

/* WRAPPER */
.wrapper{
    padding: 0 30px;
}

.grid{
    display: grid;
    grid-row-gap: 25px;
}

/* Header */
.header{
    border: 1px solid red;   
    background: #f8f9fe;
    /* Para poner el gris saliendo del header y entrando al card */
    padding-bottom: 170px;
    border-radius: 0 0 20px 20px;
    padding-top: 2em;
}

h1{
    margin: 0;
    font-size: 1.7em;
    padding-bottom: .7em;
}

.h-w-c{
    color: var(--gray);
    margin: .5em 0;
    font-weight: 600;
    border-bottom: 2px solid var(--gray);
    padding-bottom: .5em;
}

/* Top card */
.top-card{
    /* Para poner el gris saliendo del header y entrando al card */
    border: 2px solid green;
    margin-top: -50px;
}

/* Card */

.card{
    border-radius: 8px;
    overflow: hidden;
    background: #f0f3fa;
    text-align: center;
    margin-bottom: 5px;
    padding: 1em 0;
    /* 1. Para hacer que la linea quede siempre en el inicio de la carta y así se edite no se mueva solo el cuadro, sino tambien la linea */
    position: relative;
}

.card::before{
    content: "";
    height: 4px;
    display: block;
    /* 2. Para hacer que la linea quede siempre en el inicio de la carta y así se edite no se mueva solo el cuadro, sino tambien la linea */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

/* Con before le pongo atributos aun cuando ya le puse un estilo y quiero agregarle a algo en especial */
.card.universidad::before{
     /* De esta forma puedo utilizar la variable creada para poner ese color en el back */
    background: var(--facebook);
}

.card.sena::before{
    background: var(--twitter);
}

.card.web::before{
    /* Para hacerle un DEGRADE */
    background-image: linear-gradient(to right, var(--instagram-1) 0%, var(--instagram-2) 100%);
}



.card-tittle{
    display: flex;
    /* aling items no me muestra mucho cambio pero ponerlo cuando vaya a aliniar al centro algo */
    align-items: center;
    justify-content: center;
    color: #6f717e;
    /* Tamaño de la letra y el grosor, bold es el grosor de las letras */
    font-size: .9em;
    font-weight: bold;
}

/* Para usar un hijo dentro de el padre en este caso la imagen dentro del card-tittle */
.card-tittle img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.card-info{
     /* border: 1px solid red; */
    overflow: auto;
    
}

.card-info-number{
    /* border: 1px solid red; */
    font-size: 50px;
    font-weight: 700;
}

.card-info-f{
    /* border: 1px solid red; */
    display: block;
    text-transform: uppercase;
    color: var(--gray);
    /* Para poner un espaciado entre las letras */
    letter-spacing: 5px;
    font-size: .75em;
}

.comenter{
    /* border: 1px solid red; */
    margin-top: 20px;
    color: var(--lime-Green);
    font-size: .75em;
    font-weight: bold;   
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-bottom: 10px;
}

.comenter img{
    /* border: 1px solid red; */
    height: 10px;
    width: 10px;
    margin-right: 2px;
       
}

/* PROFFESIONAL */

.card-prof{
    /* border: 1px solid red; */
    padding: 50px 10px 50px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.icon-company{
    /* border: 1px solid blue; */
    /* Lo creo para aliniarlo a la izq */
    display: flex;
}

.icon-alty{
    /* border: 1px solid green; */
    width: 80px;
    /* Le doy la alineación a la izq */
    margin: auto;
}